<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.quizz.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.quizz.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.quizz.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecruiterLoginServlet</servlet-name>
        <servlet-class>com.quizz.servlets.RecruiterLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuetionPaperServlet</servlet-name>
        <servlet-class>com.quizz.servlets.QuetionPaperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionPaperServlet2</servlet-name>
        <servlet-class>com.quizz.servlets.QuestionPaperServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionsServlet</servlet-name>
        <servlet-class>com.quizz.servlets.QuestionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizDeleteServlet</servlet-name>
        <servlet-class>com.quizz.servlets.QuizDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitQuiz</servlet-name>
        <servlet-class>com.quizz.servlets.SubmitQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryDeleteServlet</servlet-name>
        <servlet-class>com.quizz.servlets.HistoryDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>com.quizz.servlets.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>com.quizz.servlets.EditProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecruiterLoginServlet</servlet-name>
        <url-pattern>/RecruiterLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuetionPaperServlet</servlet-name>
        <url-pattern>/QuetionPaperServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionPaperServlet2</servlet-name>
        <url-pattern>/QuestionPaperServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionsServlet</servlet-name>
        <url-pattern>/QuestionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizDeleteServlet</servlet-name>
        <url-pattern>/QuizDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitQuiz</servlet-name>
        <url-pattern>/SubmitQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryDeleteServlet</servlet-name>
        <url-pattern>/HistoryDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
